*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border: 4px solid red;
}
header{
    background-image: url(../image/backgroun.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
     min-height: 900px;
    .header-navbar{
        padding: 30px 0;
        display: flex;
        align-items: center;
        gap: 44px;
          .logo{
               color:#19191B;
                font-weight: 900;
                font-size: 24px;
                line-height:100%;
                letter-spacing: -0.75px;
                &:hover{
                 color: #F04037;
                 cursor: pointer;
                   } 
        }
        .header-list{
         display: flex;
           align-items: center; 
           gap: 30px;
           .header-item{
            a{
               font-weight: 400;
               font-size: 16px;
               line-height:100%;
               letter-spacing: 0.5;
               text-align: center;
               color: #19191B;
              &:hover{
                 color: #F04037;
                 cursor: pointer;
              } 
            }
           }
        }
    }
    .header-heros{
       .header-hero{
        display: flex;
        align-items: start;
        justify-content: space-between;
       padding: 120px 0;
        .hero-left{
            width: 45%;
          
              h2{
                  width: 600px;
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 70px; 
                  letter-spacing: -1.88px;
                  color:#19191B;
                  margin-bottom: 29px;
                }
                p{
                  width: 536px;
                  font-weight: 400;
                  font-size: 21px;
                  line-height: 39px; 
                  letter-spacing: -0.66px;
                  color:#696871;
                  margin-bottom: 35px;
                }
                .form{
                max-width: 539px;
                background: #FFFFFF;
                border: 1px solid #EAE9F2;
                border-radius: 10px;
                 padding: 10px;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                .label{
                     max-width: 539px;
                     background: #FFFFFF;
                     input{
                        outline: none;
                        border: none;
                        background: none;
                     }
                }
                .hero-btn{
                    padding: 10px 30px;
                    background: #F04037;
                    color: #FFFFFF;
                    border: 1px solid #C31A12;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 39px; 
                    letter-spacing: -0.66px;

                }
        }
        }
        .hero-right{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          .hero-rasm{
            position: absolute;
            top: -90px;
            right: 290px;
          }
          .hero-text{
            width: 210px;
            height: 210px;
            border-radius: 50%;
            background: #5454D4;
            box-shadow: 0px 52px 54px 0px #413E654C;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 300px;
            right: -0px;
            .icon{
               width: 48px;
               height: 48px;
               border-radius: 50%;  
               background: #7070F4;
                 display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                margin-bottom: 4px;
                
            }
            h3{
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 70px; 
                  letter-spacing: -1.88px;
                  color:#FFFFFF;
                  margin-bottom: 2px;
                }
                p{
                  font-weight: 400;
                  font-size: 21px;
                  line-height: 39px; 
                  letter-spacing: -0.66px;
                  color:#FFFFFF;
                  
                }
          }
        }
    }
   
}
}
.section_one{
  background: #413E65;
  .section_one-wrapper{
    padding:80px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .one-left{
      max-width: 45%;
      .one-list{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .one-item{
          max-width: 100%;
          background: #FFFFFF;
          padding: 20px ;
          border-radius: 10px;
          display: flex;
          align-self: center;
          gap: 20px;
           .icons{
              width: 69px;
              height: 69px;
              border-radius: 50%;
              background: #F0403719;
              display: flex;
              align-items: center;
              justify-content: center;
            
              
          }
           .icone{
                        width: 69px;
                        height: 69px;
                        border-radius: 50%;
                        background: #5454D41A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                       
                        color: #5454D4;

                    }
                    .iconse{
                        width: 69px;
                        height: 69px;
                        border-radius: 50%;
                        background: #413E651A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        margin-bottom: 23px;

                    }
          .one-texts{
             h4{
                      font-weight: 700;
                      font-size: 24px;
                      line-height: 100%;
                      letter-spacing: -0.75px;
                      color: #19191B;
                      margin-bottom: 13px;
                    }
                    p{
                      max-width: 246px;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 28px;
                      letter-spacing: -0.5px;
                      color: #696871;
                    
                    }
          }
        }
      }
    }
    .one-right{
      max-width: 55%;
    }
  }
}






@media(max-width:1160px){
  
}
@media(max-width:1060px){
  header{
    .header-heros{
      .header-hero{
        .hero-right{
          .hero-rasm{
             top: -90px;
             right: 200px;
          }
        }
      }
    }
  }
}
@media(max-width:960px){
  header{
    min-height: 100%;
    .header-heros{
      .header-hero{
        .hero-right{
          .hero-rasm{
             top: -90px;
             right: 90px;
          }
        }
      }
    }
  }
}
@media(max-width:860px){
  header{
    .header-heros{
      .header-hero{
          flex-direction: column;
          padding: 20px 0;
         .hero-left{
          width: 100%;
          text-align: start;
         }
         .hero-right{
          flex-direction: row;
          justify-content:center;
          padding-top: 20px;
          .hero-rasm{
            width: 50%;
           position: static;
            top: auto;
            right: auto;
          }
          .hero-text{
           width: 160px;
           height: 160px;
           position: static;
           padding: 8px;
           text-align: center;
            top: auto;
            right: auto;
            .icon{
              width: 35px;
              height: 35px;
            }
            h3{
              font-size: 40px;
              margin-bottom: 0;
            }
            p{
              font-size: 15px;
            }
          }
         }
      }
    }
  }
}
@media(max-width:760px){
   header{
    .header-heros{
      .header-hero{
          flex-direction: column;
          padding: 20px 0;
         .hero-left{
          width: 100%;
          text-align: center;
            h2{
              width: 100%;
              font-size: 50px;
              line-height: 52px;
              margin-bottom: 20;
            
            }
            p{
              width: 100%;
              font-size: 18px;
              line-height: 22px;
            }
         
         }
         .hero-right{
          display: none;
         }
      }
    }
  }
}
@media(max-width:660px){
   header{
    .header-heros{
      .header-hero{
          flex-direction: column;
          padding: 20px 0;
         .hero-left{
          width: 100%;
          text-align: center;
            h2{
              width: 100%;
              font-size: 26px;
              line-height: 28px;
              margin-bottom: 20;
            
            }
            p{
              width: 100%;
              font-size: 15px;
              line-height: 22px;
              margin-bottom: 20px;
            }
            .form{
             max-width: 100%;
             padding: 2px;
            
              .label{
                max-width: 100%;
              }
             
            }
         
         }
         .hero-right{
          display: none;
         }
      }
    }
  }
}
@media(max-width:560px){
 header{
  .header-navbar{
    max-width: 100%;
    gap: 15px;
    .logo{
      font-size: 20px;
    }
    .header-list{
      gap: 10px;
      .header-item{
        a{
          font-size: 13px;
        }
      }
    }
  }
    .header-heros{
      .header-hero{
          flex-direction: column;
          padding: 20px 0;
         .hero-left{
          width: 100%;
          text-align: center;
            h2{
              width: 100%;
              font-size: 26px;
              line-height: 28px;
              margin-bottom: 20;
            
            }
            p{
              width: 100%;
              font-size: 15px;
              line-height: 22px;
              margin-bottom: 20px;
            }
            .form{
             max-width: 100%;
             padding: 2px;
            
              .label{
                max-width: 100%;
              }
              .hero-btn{
                padding: 2px 16px;
              }
             
            }
         
         }
         .hero-right{
          display: none;
         }
      }
    }
  }
}
   